{% extends 'courses/base.html' %}

{% block title %}
Восстановление пароля
{% endblock %}

{% block main %}
<div class="container">
  <div class="container-text exit">
    <h1>Восстановление пароля</h1>

<form method="post"  class="form-register auth">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p ><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}

    <p><button class="btn-enter" type="submit">Сохранить</button></p>
</form>


</div>
</div>

{% endblock %}